<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>John Carmack</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    </head>
    <body>
        <h1> John Carmack </h1>
        <p> 
            You've reached the personal page of me, John Carmack. <br>
            I'm a computer science student at the university of Tennessee. <br>
            <br>
            I used to be a pure math guy, but after an introductory comp sci <br>
            course I became hooked. Now I'm learning as much as I can about <br>
            the world of software development and computer science. <br>
            <br>
            Below you'll find links to my social media, as well as to 
            a page for projects I'm currently working on. 
            <br>
            Thanks for stopping by, and remember to be excellent to one another! <br>
            <br>
        </p>
        <a href="https://github.com/Pokemonpower92">Github</a> -//- <a href="https://linkedin.com/in/john-carmack-307525158">Linkedin</a>
    </body>
</html>
